a,
a:link,
a:visited,
a:active {
    text-decoration: none;
}

:root {
    @include from(l) {
        --h1-font-size: 2rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --h4-font-size: 1rem;
        --big-font-size: 1rem;
        --normal-font-size: 0.8rem;
        --small-font-size: 0.7rem;
        --smaller-font-size: 0.6875rem;
    }
}

body {
    background-color: darkgoldenrod;
    background-color: var(--pink-color);

    min-height: calc(100vh - var(--header-height));
    color: var(--text-color);
    /* padding-top: var(--header-height); */
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    line-height: var(--body-line-height);
    margin: 0;
    overflow-x: hidden;

}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

li {
    list-style: none;
}

ul {
    margin: 0;
}