.damage-img {
    top: .5rem;
    right: 2rem;
    width: auto;
    height: 80px;
}

.damage {
    margin-bottom: 1rem;
}

.damage-img:hover {
    transform: none;
}

.damage-background {
    width: 6rem;
    margin-right: 3rem;
}