.agents-grid {
    display: grid;
    height: 45%;
    margin: 0 auto;
    width: 80%;
    gap: 3rem;
    margin-top: 2rem;
    max-height: 1000px;
    min-height: 450px;

    @include from(l) {
        grid-template-columns: repeat(4, 1fr);
        margin-right: 2rem;
        margin-top: 0;
        width: auto;
        height: 50%;
        max-height: none;
    }
}

.agent-container {
    background-color: var(--color);
    min-height: 100px;
    position: relative;
    display: none;
    min-width: 200px;
    border: 1px solid var(--color);

    @include from(l) {
        display: block;
    }
}

.agent-container--show {
    display: block;
    color: #0000
}

.skills-box {
    background-color: var(--color);
    border: 1px solid white;
    display: grid;
    width: 100%;
    position: absolute;
    grid-template-columns: repeat(4, 1fr);
    min-height: 50px;
    align-content: center;
    justify-items: center;
    cursor: pointer;
    overflow: hidden;

    @include from(l) {
        bottom: -1rem;
        right: -1rem;
    }
}

.skills-box:hover {
    transform: scale(1.05);
}

.skills-box::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--pink-color);
    right: 100%;
    transition: right, .4s;
}

.skills-box:hover::before {
    right: 0;
}

.skills-white {
    filter: brightness(500%);
    width: 35px;
    height: 35px;
}

.agent-image {
    width: 120%;
    margin-left: -3rem;
    max-width: 700px;

    @include from(l) {
        width: 180%;
        max-width: none;
    }
}

.agent-image-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

}

.agent-container:hover {
    transform: scale(1.01);
}

.agent-extras {
    position: absolute;
    color: var(--pink-color);
    top: 5rem;
    font-family: var(--title-font);
    left: -1.5rem;
}

.rotate-90deg {
    transform: rotate(90deg);
}

.absolute {
    position: absolute;
}

.country {
    top: 2.5rem;
    left: -2rem;
    min-width: 200px;
    
    @include from(l) {
        display: none;
    }

    @include from(lx) {
        display: block;
    }
}

.name-img {
    width: 20%;
    margin-left: 0.3rem;
    margin-top: -3.2rem;
    min-width: 48px;
    max-height: 350px;
}

.arrow {
    width: 50px;
    height: 50px;
    top: 50%;
    bottom: 50%;
    cursor: pointer;
    display: block;
    padding: 20px;
    @include from(l) {
        display: none;
    }
}

.l-arrow {
    left: .5rem;
    z-index: var(--z-normal);
}

.r-arrow {
    right: .5rem;
    z-index: var(--z-normal);
}

.arrow:active {
    transform: scale(1.1);
}