.agents-grid {
    display: grid;
    height: 45%;
    margin: 0 auto;
    width: 80%;
    gap: 3rem;
    margin-top: 2rem;
    max-height: 1000px;
    min-height: 450px;

    @include from(l) {
        grid-template-columns: repeat(4, 1fr);
        margin-right: 2rem;
        margin-top: 0;
        width: auto;
        height: 50%;
        max-height: none;
    }
}

.agent-container {
    background-color: var(--color);
    min-height: 100px;
    position: relative;
    display: none;

    @include from(l) {
        display: block;
    }
}

.agent-container:first-of-type {
    display: block;
}

.skills-box {
    background-color: var(--color);
    border: 1px solid white;
    display: grid;
    width: 100%;
    position: absolute;
    grid-template-columns: repeat(4, 1fr);
    min-height: 50px;
    align-content: center;
    justify-items: center;

    @include from(l) {
        bottom: -1rem;
        right: -1rem;
    }
}

.skills-white {
    filter: brightness(500%);
    width: 35px;
    height: 35px;
}

.agent-image {
    width: 120%;
    margin-left: -3rem;
    max-width: 700px;

    @include from(l) {
        width: 180%;
        max-width: none;
    }
}

.agent-image-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

}

.agent-extras {
    position: absolute;
    color: var(--pink-color);
    top: 5rem;
    font-family: var(--title-font);
    left: -1.5rem;
}

.rotate-90deg {
    transform: rotate(90deg);
}

.absolute {
    position: absolute;
    top: 2.5rem;
    left: -2rem;
    min-width: 200px;
}

.name-img {
    width: 20%;
    margin-left: 0.3rem;
    margin-top: -3.2rem;
    min-width: 48px;
    max-height: 350px;
}