.characters-banner {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    opacity: .45;
    width: auto;

    @include from(l) {
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }
    @include from(lx) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
    }

    animation-name: uptodown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    // animation-timing-function: 1s;
    animation-direction: alternate;
}

@keyframes uptodown {
    from {
        top: 20%;
    }
    to {
        top: 15%;
    }
}

.characters-banner::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
}

.characters-banner--img {
    width: 25%;
    min-width: 300px;
}

.characters-banner--img:first-child {
    display: none;

    @include from(l) {
        display: block;
    }
}
.characters-banner--img:last-child {
    display: none;
    @include from(l) {
        display: none;
    }
    @include from(lx) {
        display: block;
    }
}