.characters-banner {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    opacity: .45;
    width: auto;

    @include from(l) {
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }
    @include from(lx) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
    }
}

.characters-banner::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
}

.characters-banner--img {
    width: 25%;
    min-width: 300px;
}

.characters-banner--img:first-child {
    display: none;

    @include from(l) {
        display: block;
    }
}
.characters-banner--img:last-child {
    display: none;
    @include from(l) {
        display: none;
    }
    @include from(lx) {
        display: block;
    }
}