.footer {
    background-color: white;
    height: 3rem;
}

.principal-footer {
    display: grid;
    text-align: center;
    background-color: var(--color);
    min-height: 10rem;
    color: white;
    padding: 4rem;
    gap: 2rem;


    @include from(s) {
        text-align: start;
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    @include from(l) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5rem;

    }
}

.footer-title {
    font-size: 12px;
    letter-spacing: 1.25px;
    font-family: var(--title-font);

    @include from(l) {
        font-size: 16px;
    }
}

.footer-container {
    display: grid;
    grid-gap: 1rem;

    @include from(s) {
        grid-gap: 2rem;
    }
}

.disclaimer--logos {
    display: flex;
    justify-content: space-between;
}

.thank--social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;

    span {
        flex: 2;

        margin-left: .5rem;
        margin-right: .5rem;

        @include from(l) {
            margin-left: 1rem;
        }
    }

    a {
        width: 50px;
        height: 50px;
    }
}

.thank--social--img {
    width: 50px;
    height: 50px;

    border-radius: 50%;
    transition: border-radius, .3s;
}

.thank--social--img:hover {
    border-radius: 30%;
}

.contact--social {
    display: flex;
    align-items: center;
    flex-gap: 1.5rem;

    img {
        width: 50px;
        height: 50px;
        margin: 0 1rem 0 1rem;
        transition: filter, .2s;

        @include from(l) {
            margin: 0;
        }
    }

    img:hover {
        filter: brightness(500%);
    }
}

.contact-container {
    display: flex;
    justify-content: space-between;
    padding-right: 0;
    margin-top: 0;
    flex-wrap: wrap;

    @include from(l) {
        padding-right: 5.5rem;
        margin-top: 3.2rem;
    }

}