.header {
    background-color: var(--primary-color);
    display: flex;
    height: auto;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;

    top: 0;
    align-items: center;
    z-index: var(--z-off-canvas);

    @include from(l) {
        position: relative;
    }
}