.info-weapon-grid-1{
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr 2fr;
    position: relative;

    @include from(l) {
        grid-template-rows: 1fr 2fr;
    }
}

.info-weapon-top {
    display: flex;
    align-items: flex-end;
}

.info-weapon-grid-2{
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "top top" "down down";
    gap: 20px;
}

.without-title {
    grid-template-columns: none;
}

.info-weapon-medium-txt {
    margin-bottom: 2rem;
    margin-left: 1rem;
    font-size: var(--normal-font-size);
}

.info-weapon-medium {
    z-index: var(--z-front);
}