.listcharacter-section {
    display: grid;
    max-height: 550px;
    @include from(l) {
        grid-template-columns: 1fr 5fr;
        margin-top: 3rem;
    }
    grid-template-columns: none;
}

.agents-foto{
    margin-left: 4rem;
    height: 50%;
    display: none;

    @include from(l) {
        display: block;
    }
}

.agents-foto img {
    height: 100%
}

