.skills-section {
    gap: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    display: grid;

    @include from (l) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 1rem;
        margin-top: 1rem;
        margin-right: 2rem;
        margin-left: 2rem;
    }

    @include from (lx) {
        display: flex;
        margin-bottom: 1rem;
        margin-top: 1rem;
        margin-right: 2rem;
        margin-left: 2rem;
    }
}

.skill-description-container {
    display: grid;
    grid-template-columns: 1fr .5fr;
    width: 80%;
    gap: 1rem;
    margin: 0 auto;

    @include from(l) {
        width: 100%;
    }
}

.skill-description {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    gap: 8px;
}

.skill-img {
    width: 80px;
    height: 80px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 10px;
    margin-bottom: 2rem;
    filter: brightness(0%);
}

.skill-icon::before {
    content: "";
    background-color: var(--pink-color);
    width: 90px;
    height: 50%;
    display: block;
    position: absolute;
    bottom: 0;
    right: 20%;
}

.skill-title {
    font-family: var(--title-font);
    font-size: var(--h3-font-size);
    color: var(--primary-color-alt);
    letter-spacing: 1.25px;
}

.skill-text {
    font-family: var(--title-font);
    font-size: var(--normal-font-size);
    letter-spacing: 1.25px;
    font-weight: 700;
}

.skill-icon {
    justify-content: center;
    display: flex;
    position: relative;
}

.skill-p {
    font-size: var(--small-font-size);
}