@charset "UTF-8";
:root {
  /*  Variables del proyecto  */
  /*  Anchura máxima del contenido en desktop */
  --max-width: 1200px;
  /*  Colores  */
  --primary-color: #1F2326;
  --primary-color-alt: #bebebe;
  --title-color: #121F26;
  --text-color: #1F2326;
  --body-bg-color: #FAFDFF;
  --pink-color: #FF4656;
  --white-color: #ffffff;
  --color: var(--primary-color);
  --color-alt: var(--primary-color-alt);
  /*  Fuentes  */
  --body-font: 'Montserrat', sans-serif;
  --title-font: 'Druk Wide Bold', sans-serif;
  /*  Tamaños  */
  --header-height: 3rem;
  --section-spacing: 4rem;
  --block-spacing: 2rem;
  --body-line-height: 1.6;
  --title-line-height: 1.3;
  /* Tamaños de fuentes */
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --h4-font-size: .75rem;
  --big-font-size: .75rem;
  --normal-font-size: 0.7rem;
  --small-font-size: 0.6875rem;
  --smaller-font-size: 0.575rem;
  /* Capas */
  --z-back: -10;
  --z-normal: 1;
  --z-front: 10;
  --z-tooltip: 20;
  --z-overlay: 30;
  --z-modal: 40;
  --z-fixed: 50;
  --z-off-canvas: 100;
  /* Otros */
  --border-radius: 0.5rem;
  --box-shadow: 0 2px 2px rgba(36, 47, 66, 0.1);
}

.header {
  background-color: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu li {
  margin-left: 2rem;
}

.menu a {
  color: white;
}

.menu a:hover {
  color: var(--pink-color);
}

.menu img {
  margin-left: 1rem;
}

.nav {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 0 1rem 0;
  font-family: var(--body-font);
  font-weight: 700;
}

@media screen and (min-width: 960px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hidden {
  display: none;
}

.circle {
  content: "";
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  background-color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.hamburguer {
  width: 2rem;
  margin: 4px auto 0 auto;
  height: 4px;
  background-color: black;
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 960px) {
  .toggle {
    display: none;
  }
}

.sidenav {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  width: 0%;
  z-index: 10000;
  background-color: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: width .5s;
  transition: width .5s;
  font-weight: 700;
}

.sidenav-list {
  padding-top: 0;
  list-style: none;
  padding-left: 0;
}

.sidenav-a {
  color: white;
  display: block;
  padding-left: 2rem;
  padding-top: .50rem;
  padding-bottom: .50rem;
}

.sidenav-a:hover {
  background-color: var(--pink-color);
}

.sidenav-item {
  margin-top: .5rem;
}

.close-button {
  color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  padding-left: 1.5rem;
  margin-top: 1rem;
}

.fade {
  top: 0;
  position: fixed;
  width: 0%;
  height: 100%;
  content: "";
  z-index: 1000;
  background-color: black;
  opacity: 70%;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: var(--body-font);
  font-weight: 700;
  padding-left: 2rem;
  margin-bottom: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 960px) {
  .user {
    margin-bottom: 0;
  }
}

.user img {
  border-radius: 50%;
  margin-right: 1rem;
}

.user a {
  color: white;
}

.user a:hover {
  color: var(--pink-color);
}

.personaje {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info {
  width: 100%;
  background-color: white;
  margin: 1.5rem 1.5rem 0rem 1.5rem;
}

@media screen and (min-width: 960px) {
  .info {
    width: 55%;
    margin: 1.5rem 0 0 3.5rem;
  }
}

.info-title, .info-text {
  margin: 2rem 1rem 0 2rem;
}

.info-title {
  font-family: var(--title-font);
  font-size: var(--h3-font-size);
}

.info-text {
  font-size: var(--normal-font-size);
  opacity: 90%;
}

.adornos {
  width: 80%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 1rem;
  top: 0;
  background: url(/assets/images/elements.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.agent-information {
  margin-top: 3rem;
}

@media screen and (min-width: 960px) {
  .agent-information {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  .agent-information .agent-video {
    margin-left: -2rem;
    width: 22rem;
  }
  .agent-information .characteristics, .agent-information .agent-title {
    margin: 10px;
    text-align: left;
    margin-left: 20px;
  }
}

.agent-video {
  width: 100%;
}

.characteristics, .agent-title {
  margin: 10px;
  margin-left: 20px;
  text-align: center;
}

.agent-title {
  font-size: var(--title-font-size);
  font-family: var(--title-font);
}

.characteristics {
  font-size: var(--small-font-size);
  font-family: var(--title-font);
  color: var(--primary-color-alt);
}

.characteristics strong {
  color: var(--primary-color);
}

.foto {
  margin: auto;
  position: relative;
  margin-top: 1rem;
}

.foto .foto-jett {
  width: 100%;
}

.foto .foto-jett-text {
  position: absolute;
  height: 100%;
  margin: auto;
  right: 2rem;
  z-index: -1;
}

@media screen and (min-width: 960px) {
  .foto {
    margin-top: 0rem;
    position: relative;
    margin-left: 10rem;
  }
  .foto .foto-jett {
    width: auto;
    height: 60rem;
    position: absolute;
    left: -20rem;
    top: -1rem;
  }
  .foto .foto-jett-text {
    position: absolute;
    height: 60rem;
    margin: auto;
    left: 8rem;
    top: 1rem;
  }
}

.agent-skills {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
}

@media screen and (min-width: 960px) {
  .agent-skills {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1px 1fr 1px 1fr 1px 1fr;
        grid-template-columns: 1fr 1px 1fr 1px 1fr 1px 1fr;
  }
}

.skills {
  margin: 0 0 0 0;
  z-index: 10;
  background-color: var(--primary-color);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.skills img {
  margin-top: 1rem;
  width: 80px;
  height: 80px;
}

@media screen and (min-width: 960px) {
  .skills:hover {
    background-color: var(--pink-color);
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
    z-index: 100;
  }
  .skills:hover img {
    -webkit-filter: brightness(500%);
            filter: brightness(500%);
  }
}

.skills-title {
  font-family: var(--title-font);
  margin: 1rem 1rem 1rem 1rem;
}

.skills-text {
  margin: auto;
  width: 70%;
  padding-bottom: 1rem;
  font-size: var(--normal-font-size);
}

@media screen and (min-width: 960px) {
  .skills-text {
    width: 90%;
  }
}

.barra {
  background-color: #FF4656;
  width: 100%;
  height: 2px;
  margin: auto;
}

@media screen and (min-width: 960px) {
  .barra {
    width: 1px;
    height: 80%;
    margin: auto;
  }
}

.skills-icon {
  cursor: pointer;
}

.armas-section {
  width: auto;
  margin: auto;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (min-width: 960px) {
  .armas-section {
    width: auto;
    margin-top: 5rem;
    margin-left: 3.5rem;
    margin-bottom: -2rem;
  }
}

@media screen and (max-width: 1190px) {
  .armas-section {
    width: auto;
    margin: auto;
    margin-top: 1rem;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.armas-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  gap: 1rem;
}

@media screen and (min-width: 960px) {
  .armas-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(100px, 350px))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100px, 350px));
    gap: 2%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1190px) {
  .armas-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    gap: 1rem;
  }
}

.armas {
  background-color: white;
  border: 1px solid black;
  width: auto;
  position: relative;
  -webkit-mask-clip: 50%;
          mask-clip: 50%;
}

.armas-img {
  width: 180px;
  height: 180px;
  position: absolute;
  right: 0;
  bottom: -1rem;
  z-index: 100;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.armas-img:hover {
  -webkit-transform: rotateZ(30deg);
          transform: rotateZ(30deg);
}

.fix-img {
  right: -2rem;
  width: 250px;
  width: 250px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.armas-title {
  font-family: var(--title-font);
  font-size: var(--h3-font-size);
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: -5.5rem;
  color: var(--primary-color-alt);
}

.armas-text {
  font-family: var(--title-font);
  font-size: var(--normal-font-size);
  padding-left: 1rem;
  font-weight: 700;
  padding-right: 1rem;
  padding-bottom: 5px;
}

.icon {
  background-color: var(--pink-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 2rem;
  margin-top: 20px;
  width: 8rem;
  height: 6rem;
  padding-bottom: 5px;
}

.icon div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.armas-text-coin {
  color: white;
  z-index: 1000;
  font-family: var(--title-font);
  font-size: var(--normal-font-size);
  padding-left: 1rem;
  font-weight: 700;
  padding-right: 1rem;
}

.armas-icon {
  width: 20px;
  height: 20px;
}

.weapon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.foto-weapon {
  margin: auto;
  position: relative;
  margin-top: 1rem;
}

@media screen and (min-width: 960px) {
  .foto-weapon {
    margin-top: 1.5rem;
    position: relative;
    height: 50rem;
  }
}

.foto-weapon-text {
  position: absolute;
  margin: auto;
  right: -3rem;
  height: 100%;
  z-index: -1;
}

.info-weapon {
  width: 100%;
  background-color: white;
  margin: 1.5rem 1.5rem 0rem 1.5rem;
}

@media screen and (min-width: 960px) {
  .info-weapon {
    width: 75%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 2fr;
        grid-template-columns: 3fr 2fr;
    gap: 2rem;
    margin: 1.5rem 3.5rem 0rem 1.5rem;
  }
}

.weapon-image {
  width: 110%;
  position: absolute;
  left: -3rem;
  top: 0;
  max-width: 45rem;
}

@media screen and (min-width: 960px) {
  .weapon-image {
    top: 1rem;
    width: 110%;
    left: -5rem;
  }
}

.weapon-tag {
  background-color: var(--pink-color);
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 5rem;
}

.weapon-tag-img {
  width: 30%;
}

.weapon-coins {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.black {
  color: var(--primary-color);
  padding-left: .5rem;
  padding-right: .5rem;
}

.weapon-dark-icon {
  width: 1rem;
}

.info-weapon-chart {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  min-height: 120px;
}

.info-weapon-chart:last-child {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: down;
}

.fire-title {
  font-size: var(--h3-font-size);
  font-family: var(--title-font);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.fire-text {
  font-size: var(--normal-font-size);
  margin-bottom: 1rem;
  font-family: var(--title-font);
  color: var(--primary-color-alt);
}

.fire-text strong {
  color: var(--primary-color);
}

.space-txt {
  margin-bottom: 6rem;
  margin-top: 2rem;
  margin-left: 1rem;
}

.weapon-video {
  bottom: -2rem;
}

@media screen and (min-width: 960px) {
  .weapon-video {
    position: absolute;
    right: -2rem;
  }
}

.spectre-text {
  height: 80%;
}

@media screen and (min-width: 960px) {
  .spectre-text {
    margin-top: -2rem;
  }
}

.clip {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.info-weapon-grid-1 {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  position: relative;
}

@media screen and (min-width: 960px) {
  .info-weapon-grid-1 {
    -ms-grid-rows: 1fr 3fr;
        grid-template-rows: 1fr 3fr;
  }
}

.info-weapon-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.info-weapon-grid-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr;
      grid-template-rows: 3fr;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
      grid-template-areas: "top top" "down down";
  gap: 20px;
}

.info-weapon-medium-txt {
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.weapon-skins-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 3rem;
  bottom: -2rem;
}

@media screen and (min-width: 960px) {
  .weapon-skins-container {
    position: relative;
  }
}

.weapon-skin {
  position: relative;
  background-color: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 1px solid white;
  color: white;
  margin-bottom: 2rem;
  font-family: var(--title-font);
  font-size: var(--small-font-size);
}

@media screen and (min-width: 960px) {
  .weapon-skin {
    margin-left: -3rem;
    margin-right: 3rem;
    margin-bottom: 0;
  }
}

.weapon-skin-img {
  width: 110%;
  margin-left: -4rem;
}

.mt {
  margin-top: 1rem;
}

.valorant-points {
  margin-left: .4rem;
  margin-right: .4rem;
}

.weapon-skin-points {
  color: var(--pink-color);
  margin-right: 1rem;
}

.weapon-skin-txt {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weapon-skin-name {
  margin-left: 1rem;
}

@media screen and (min-width: 960px) {
  .damage-section {
    margin-bottom: -3rem;
  }
}

.damage-img {
  top: .5rem;
  right: 2rem;
  width: auto;
  height: 80px;
}

.damage {
  margin-bottom: 1rem;
}

.damage-img:hover {
  -webkit-transform: none;
          transform: none;
}

.damage-background {
  width: 6rem;
  margin-right: 3rem;
}

.footer {
  background-color: white;
  height: 3rem;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
}

@media screen and (min-width: 960px) {
  :root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1rem;
    --big-font-size: 1rem;
    --normal-font-size: 0.8rem;
    --small-font-size: 0.7rem;
    --smaller-font-size: 0.6875rem;
  }
}

body {
  background-color: darkgoldenrod;
  background-color: var(--pink-color);
  min-height: calc(100vh - var(--header-height));
  color: var(--text-color);
  /* padding-top: var(--header-height); */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  line-height: var(--body-line-height);
  margin: 0;
  overflow-x: hidden;
  background-image: url(/assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
}
/*# sourceMappingURL=styles.css.map */