.info-weapon-chart{
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    min-height: 120px;
}
.info-weapon-chart:last-child{
    grid-area: down;
}

.fire-title {
    font-size: var(--h3-font-size);
    font-family: var(--title-font);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fire-text {
    font-size: var(--normal-font-size);
    margin-bottom: 1rem;
    font-family: var(--title-font);
    color: var(--primary-color-alt);

    & strong {
        color: var(--primary-color);
    }
}

.space-txt {
    margin-bottom: 6rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

.weapon-video {
    bottom: -2rem;
    @include from(l) {
        position: absolute;
        right: -2rem;
    }

}

.spectre-text {
    height: 80%;
    @include from(l) {
        margin-top: -2rem;
    }
    }
    

.clip {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}