:root {
    /*  Variables del proyecto  */

    /*  Anchura máxima del contenido en desktop */
    --max-width: 1200px;

    /*  Colores  */
    --primary-color: #1F2326;
    --primary-color-alt: #035DBF;
    --title-color: #121F26;
    --text-color: #1F2326;
    --body-bg-color: #FAFDFF;
    --pink-color: #FF4656;
    --white-color: #ffffff;
    --color: var(--primary-color);
    --color-alt: var(--primary-color-alt);

    /*  Fuentes  */
    --body-font: 'Montserrat', sans-serif;
    --title-font: 'Montserrat', sans-serif;

    /*  Tamaños  */
    --header-height: 3rem;
    --section-spacing: 4rem;
    --block-spacing: 2rem;
    --body-line-height: 1.6;
    --title-line-height: 1.3;

    /* Tamaños de fuentes */
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1rem;
    --big-font-size: 1rem;
    --normal-font-size: 0.8rem;
    --small-font-size: 0.7rem;
    --smaller-font-size: 0.6875rem;

    /* Capas */
    --z-back: -10;
    --z-normal: 1;
    --z-front: 10;
    --z-tooltip: 20;
    --z-overlay: 30;
    --z-modal: 40;
    --z-fixed: 50;
    --z-off-canvas: 100;

    /* Otros */
    --border-radius: 0.5rem;
    --box-shadow: 0 2px 2px rgba(36, 47, 66, 0.1);

}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--header-height));
    color: var(--text-color);
    padding-top: var(--header-height);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    line-height: var(--body-line-height);
    /* background-color : transparent; */
}

main {
    width: 100%;
    height: 100%;
}

.logo {
    float: left;
    /* width : 1rem; */
    height: 1px;
    /* height: 1rem; */
    margin: 1rem 1rem 1rem 1rem;

}

.separador {
    float: left;
    /* width : 1rem; */
    height: 1px;
    /* height: 1rem; */
    margin: 1rem 1rem 1rem 1rem;

}

.nav {
    width: 100%;
    background-color: var(--color);
    font-family: var(--title-font);
    font-weight: 700;
    display: flex;
    position: fixed;
    top: 0;
    /* padding-bottom: 1rem; */
    margin-bottom: 1rem;
    /* height     : var(--header-height); */
    width: 100%;
    z-index: var(--z-fixed);

}

ul {
    list-style: none;
}

.menu {
    display: inline-flex;
    /* height: var(--header-height); */
}

.menu-text {
    margin: 1.75rem 1rem 1rem 1rem;
    text-align: center;
    color: white;
    font-size: var(--small-font-size);
}

.textblanco {
    color: white;
}

.username {
    margin: 1.75rem 1rem 1rem 1rem;
    color: white;
    font-size: var(--normal-font-size);
    display: flex;
    font-weight: 700;
    position: relative;
    padding-left: 5rem;
    right: 1rem;
}

.username-text {
    margin: 0.75rem 0rem 1rem 1rem;

}

.username-logo {
    float: left;
    display: flex;
    margin-top: -0.20rem;
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-image: url(/akali.png);
    /* margin: 1.75rem 0rem 1rem 1rem; */
    /* position: relative; */

}

.banner {
    margin: 1rem 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-image: url(/background.png);
    background-color: var(--pink-color);
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    margin: 5rem 0 0 5rem;
    /* padding-bottom: 5rem; */
    background-color: white;
    width: 42rem;
    height: auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Druk Wide Bold", sans-serif;
    font-size: var(--h2-font-size);
    color: var(--text-color);
}

.title {
    padding-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;

}

.agents {
    /* padding-top: 2rem; */
    /* padding-left: 4rem; */
    /* margin-left: 4rem; */
    /* margin-right: 2rem; */
    font-size: var(--h3-font-size);
}

.description {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 3rem;
    padding-bottom: 3rem;
    font-family: var(--body-font);
    color: var(--text-color);
    font-weight: 400;
}

.content-image {
    margin-left: -3rem;
    height: 15rem;
    float: left;
    margin-right: 2rem;
}

strong {
    color: var(--text-color);
}

.characteristics {
    font-size: 0.75rem;
    font-family: "Druk Wide Bold", sans-serif;
    color: #C4C4C4;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FF4656;
    position: relative;
    bottom: 500px;
    left: 660px;
    margin: 0 0 10px 0;
}

.content-circle {
    /* width: 50%; */
    position: absolute;
}

.chara-container {
    display: flex;
    flex-direction: row-reverse;
}



.chara {
    float: right;
    max-height: 10%;
    position: relative;
    margin: 0 0 0 0;
    z-index: 2;
    pointer-events: none;
}


.chara-img {
    height: 700px;
    left: -5rem;
    bottom: 0;

    position: absolute;
}

.skills {
    background-color: var(--color);
    color: var(--white-color);
    display: inline-flex;
    flex-direction: row;

}

.skills-div {
    align-items: center;

}

.skills-title {
    color: var(--white-color);
    font-size: 0.8rem;
    text-align: center;
    padding: 0 1.2rem 0 1.2rem;
    font-family: "Druk Wide Bold", sans-serif;
}

.skills-text {
    color: var(--white-color);
    font-size: 0.5rem;
    text-align: center;
    padding: 0 1.2rem 0 1.2rem;
    font-family: var(--body-font);
}

.skills-img {
    display: flex;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 60px;
}

.rectangle {
    width: 20px;
    height: 120px;
    background-color: #FF4656;
    position: relative;
    bottom: -220px;
    padding: auto;
    margin: 0 0 -10px 0;
    /* margin-left: 10px; */
    /* margin-right: 10px; */


}

.adorno {
    display: inline-flex;
    position: absolute;
    width: 65rem;
    top: 3rem;
    left: 0rem;
    z-index: 0;
    /* background-color:black; */
    pointer-events: none;
}

