:root {
    /*  Variables del proyecto  */

    /*  Anchura máxima del contenido en desktop */
    --max-width: 1200px;

    /*  Colores  */
    --primary-color: #1F2326;
    --primary-color-alt: #035DBF;
    --title-color: #121F26;
    --text-color: #1F2326;
    --body-bg-color: #FAFDFF;
    --pink-color: #FF4656;
    --white-color: #ffffff;
    --color: var(--primary-color);
    --color-alt: var(--primary-color-alt);

    /*  Fuentes  */
    --body-font: 'Montserrat', sans-serif;
    --title-font: 'Montserrat', sans-serif;

    /*  Tamaños  */
    --header-height: 3rem;
    --section-spacing: 4rem;
    --block-spacing: 2rem;
    --body-line-height: 1.6;
    --title-line-height: 1.3;

    /* Tamaños de fuentes */
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1rem;
    --big-font-size: 1rem;
    --normal-font-size: 0.8rem;
    --small-font-size: 0.7rem;
    --smaller-font-size: 0.6875rem;

    /* Capas */
    --z-back: -10;
    --z-normal: 1;
    --z-front: 10;
    --z-tooltip: 20;
    --z-overlay: 30;
    --z-modal: 40;
    --z-fixed: 50;
    --z-off-canvas: 100;

    /* Otros */
    --border-radius: 0.5rem;
    --box-shadow: 0 2px 2px rgba(36, 47, 66, 0.1);

}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

body {
    background-color: darkgoldenrod;
    background-image: url(/images/background.png);
    background-color: var(--pink-color);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - var(--header-height));
    color: var(--text-color);
    /* padding-top: var(--header-height); */
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    line-height: var(--body-line-height)
}

.nav {
    width: 100%;
    background-color: var(--color);
    font-family: var(--title-font);
    font-weight: 700;
    font-size: var(--normal-font-size);
    display: inline-grid;
    grid-template-rows: min-content, min-content;
    grid-template-columns: .75fr 3fr .75fr;
    top: 0;
    /* padding-bottom: 1rem; */
    /* margin-bottom: 1rem; */
    /* height     : var(--header-height); */
    width: 100%;
    z-index: var(--z-fixed);

}

.nav li  {
    list-style: none;
    /* background-color: yellow; */
    margin: .5em;
}

.menu-text, .logo, .user {
    display: inline-flex;
    align-items: center;
}

.menu-text, .logo, .user li, a{
    color: var(--white-color);
}

.menu-text a:hover, .user a:hover {
    color: var(--pink-color);
}

.user img {
    border-radius: 50%;
}

.menu-text li{
    margin: .75em;
    text-align: center;
    color: var(--white-color)
}

.logo img{
    padding-left: 1em;
}

.chara-name {
    /* font-size: 10rem; */
    width: 8rem;
    /* padding-bottom: 15rem; */
    right: 3rem;
    font-family: "Druk Wide Bold", sans-serif;
    /* color: black; */
    /* border: 1px solid white; */
    position: absolute;
    top: 8rem;
    z-index: 1;
}

.character {
    float: right;
    /* transform: scaleX(-1); */
    position: relative;
    margin-top: -1em;
    margin-left: -35em;
    /* padding-right: -5rem; */
    z-index: 2;
    transition: transform 1s;
}

.character:hover {
    /* transform: scaleX(-1); */
    transform: scale(1.04, 1.04);   
}




main {
    width: 100%;
    height: 100%;
    
}

.banner {
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    margin-top: -2rem;
    
    /* z-index: -1; */
}

.container {
    margin: 0 0 0 5rem;
    /* padding-bottom: 5rem; */
    background-color: white;
    width: 50rem;
    height: auto;
    /* z-index: 0; */
}

.container h1, h2, h3 h4{
    margin-top: 2em;
    padding-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Druk Wide Bold", sans-serif;
    font-size: var(--h3-font-size);
    color: var(--text-color);
}

.container p {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    padding-bottom: 1rem;
    font-family: var(--body-font);
    color: var(--text-color);
    font-weight: 400;
}

.info p {
    opacity: 100%;
}

.info video {
    width: 350px;
    margin-right: 1em;
    margin-left: -4em;
    margin-right: 3rem;
    float: left;
    background-color: #121F26;

}

.info p, h3{
    margin: .25rem 0 0 1rem;
    padding: .25rem 0 0 1rem;
}

.skills-section {
    display: grid;
    grid-template-columns: minmax(0,auto) minmax(0,auto) minmax(0,auto) minmax(0,auto) minmax(0,auto) minmax(0,auto) minmax(0,auto);
    /* grid-template-rows: minmax(0,auto); */
    justify-content: center;
    background-color: var(--primary-color);
    width: 100%;
    height: auto;
    /* max-width: 30rem; */
    z-index: 10;
    
}



.skills {
    /* padding-top: 1em; */
    /* margin-top: 1em; */
    justify-items: center;
    text-align: center;
    color: var(--white-color);
    /* font-size: 2px; */
    z-index: 10;
    transition: background-color 0.5s;
    
}

#blade-storm,
#tailwind,
#updraft,
#cloudburst {
    cursor: pointer;
}

.skills:nth-last-child() {
    border-right: none;
}

.skills:hover {
    background-color: #FF4656;
    
}

.skills h3{
    color: var(--white-color);
    margin: .25rem 1rem auto auto;
    padding: auto;
    font-size: var(--normal-font-size);
    z-index: 4;
}

.skills p{
    color: var(--white-color);
    margin: 1rem 1rem 0 1rem;
    /* padding: auto; */
    font-size: var(--smaller-font-size);
    opacity: 80%;
    z-index: 4;
}

.skills img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: auto;
    height: 70px;
    color: black;
    transition: filter 0.5s, transform 0.5s;
}

.skills img:hover {
    filter: hue-rotate(0deg) brightness(500%);
    transform: scale(1.1, 1.1);
}

.barra {
    background-color:#FF4656;
    width: 1px;
    height: 80%;
    margin: auto;
    /* display: inline; */
    /* z-index: 5; */
}

.guns {
    display: grid;
    grid-template-columns: minmax(0,auto) minmax(0,auto)  minmax(0,auto);
    /* grid-template-rows: 1fr; */
    width: 50rem;
    /* position: absolute; */
    /* background-color:white; */
    /* height: 1rem; */
    /* background-color: white; */
    margin-left: 5rem;
    margin-top: 3rem;
    margin-bottom: -2rem;
    gap: 20px 40px;
    /* justify-content: space-between; */
    /* justify-items: center; */
    z-index: 30;
}

.gun-item, .last-gun-item {
    display: grid;
    background-color: white;
    grid-template-columns: minmax(0,auto) minmax(0,auto);
    z-index: 10;
    border: 1px solid black;
}


.text-gun {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.text-gun h3{
    font-size: var(--big-font-size);
    margin: 0 0 0 1rem;
    padding: 0;
    align-self: flex-end;
    grid-row: 2 / 3;
    opacity: 50%;
}
.text-gun h4{
    font-size: var(--smaller-font-size);
    margin: 0 0 0 1rem;
    padding: 0;
    grid-row: 3 / 3;
    align-self: center;

}

.gun-others {
    display: grid;
    grid-template-rows: 1 1;
    justify-content: center;
    justify-items: center;
}

.gun-icon {
    /* background-color:yellow; */
    width: 15px;
    padding-left: 10px;
    padding-bottom: 5px;
    /* grid-row: 3 / 3; */
}

.gun-image {
    /* grid-row: 2 / 2; */
    width: 8rem;
    position: relative;
    z-index: 10;
    margin-bottom: 1rem;
    transition: transform 1s;
}

.gun-image-1 {
    /* grid-row: 2 / 2; */
    width: 14rem;
    position: relative;
    z-index: 10;
    transition: transform 1s;
}

.gun-image:hover, .gun-image-1:hover  {
    transform: scale(1.05, 1.05);
}

.gun-text-container {
    display: inline-flex;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    margin: 0 2rem 0 2rem;
    /* padding: 0; */
    /* margin-left: 4rem; */
    margin-top: 2.9rem;
    background-color: #FF4656;
    width: auto;
    height: 3rem;
    /* overflow: auto; */
}

.gun-text-container p {
    margin: 0 10px 5px 10px;
    padding: 0;
    font-family: "Druk Wide Bold", sans-serif;
    color: white;
    font-size: var(--smaller-font-size);
}

.footer {
    background: white;
    width: 100%;
    height: 3rem;
    /* border-top-left-radius: 20%; */
    /* border-top-right-radius: 20%; */
    bottom: 0;
}


