@import "config/mixins";
@import "config/variables";
@import "components/header";
@import "components/menu";
@import "components/nav";
@import "components/menu-toggle";
@import "components/sidenav";
@import "components/user";
@import "components/personaje";
@import "components/armas-section";
@import "components/weapons";
@import "components/info-weapon-chart";
@import "components/info-weapon";
@import "components/weapon-skins";
@import "components/damage";
@import "components/listcharacter-section";
@import "components/agents-grid";
@import "components/skills-section";
@import "components/footer";
@import "base/base";